@import url(https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap);
* {
	margin: 0;
	padding: 0
}
body {
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
.numbers {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 50vh;
	column-gap: 5px;
	row-gap: 6px;
	margin-top: 10px
}
#inp {
	width: 48vw;
	height: 13vh;
	background-color: transparent;
	border: 1px solid #000;
	font-size: 17px;
	border-radius: 6px;
	text-align: end
}
.btn {
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #000;
	font-size: 17px;
	border-radius: 6px;
	transition: all .1s
}
.btn:hover {
	background-color: #3b3bd8;
	box-shadow: 0 4px #3b3bd8
}
.btn:active {
	transform: translateY(2px);
	box-shadow: 0 2px #3b3bd8
}
h1 {
	font-family: 'Berkshire Swash', cursive;
	margin-bottom: 50px;
	font-size: 3.4vw;
	animation: heading 4s ease-in infinite
}
@keyframes heading {
	0% {
		color: #000
	}
	50% {
		color: transparent
	}
	100% {
		color: #000
	}
}
@media only screen and (max-width: 1020px) {
	#inp {
		width: 85vw
	}
	h1 {
		font-size: 5vw
	}
}